<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .select{
            width: 15px;
            height: 15px;
            border: solid 1px gray;
            display: inline-block;
            border-radius: 50%;
        }
        .check{
            background: red!important;
        }
        .checkAll{
            background: orange;
        }
        .selectShop{
            width: 15px;
            height: 15px;
            border: solid 1px gray;
            display: inline-block;
        }
        .checkShop{
            background: orange;
        }
        .goodsCount{
            display: inline-block;
            width: 20px;
            height: 19px;
            text-align: center;
            background: lawngreen;
            position: relative;
            top: 1px;
            cursor: pointer;
        }
        .delete{
            display: inline-block;
            width: 40px;
            height: 20px;
            background: orange;
            text-align: center;
            color: white;
            cursor: pointer;
            padding: 2px;
        }
        input{
            margin: 0 -5px;
            padding: 0;
        }
        .main{
            display: flex;
        }
        .main div{
            width: 200px;
            height: 30px;
        }
        [v-cloak]{
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div class="container">
            <dl v-for='(item,index) in goods' class="list">
                <dt>
                    <a href="javascript:void(0);" class="selectShop" :class="{'checkShop':item.checked}" @click='checkShop(item)'></a>
                    <span>{{item.shop}}</span>
                </dt>
                <dd v-for='(goods,key) in item.shopGoods' class="main">
                    <div>
                        <a href="javascript:void(0)" class="select" :class="{'check' : goods.checked}" @click='check(goods,index)'></a>
                        <span>{{goods.name}}</span>
                    </div>
                    
                    <div>
                        <span>单价：{{'￥' + goods.price}}</span>
                    </div>
                    <div>
                        <a @click='changeCount(-1,goods)'class='goodsCount'>-</a>
                        <input type="text" min='1' :value='goods.count' v-model='goods.count' @input='writeNum' size='1' style="text-align: center;">
                        <a @click='changeCount(1,goods)' class="goodsCount">+</a>
                    </div>
                    <div>
                        <span>共:{{'￥'+goods.count*goods.price}}</span>
                    </div>
                    <div>
                        <a @click='deleteGoods(index,key)' class="delete">删除</a>
                    </div>
                </dd>
            </dl>
            <div>
                <a href="javascript:void(0)" class="selectShop" :class="{'checkAll':select}" @click="checkAll"></a>
                <span>全选</span>
                <span>总价：{{'￥'+allPrice}}</span>
            </div>
        </div>
    </div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            goods: [
                {
                    shop: '苹果旗舰店',
                    shopGoods: [
                        { name: 'iphone6', price: 20, id: 10, count: 1 },
                        { name: 'iphone5s', price: 15, id: 11, count: 1 },
                        { name: 'iphone5', price: 10, id: 12, count: 1 },
                    ]
                },
                {
                    shop: '小米旗舰店',
                    shopGoods: [
                        { name: '小米5s', price: 20, id: 20, count: 1 },
                        { name: '小米5', price: 15, id: 21, count: 1 },
                        { name: '小米4', price: 10, id: 22, count: 1 },
                    ]
                },
                {
                    shop: '华为旗舰店',
                    shopGoods: [
                        { name: '华为9', price: 20, id: 30, count: 1 },
                        { name: '华为8', price: 15, id: 31, count: 1 },
                        { name: '华为6', price: 10, id: 32, count: 1 },
                    ]
                },
                {
                    shop: '黑莓旗舰店',
                    shopGoods: [
                        { name: '黑莓', price: 200, id: 40, count: 1 },
                    ]
                }
            ],
            select: false,
            selectedShop: false,
            allPrice: 0,
            // 选中单个商品的数组，一个店的商品全部选中，商铺要选中
            checkedNum: [],
            // 全部商品都选中的时候，全选要选中
            checkedAllNum: [],
            // 全部商铺选中的时候，全选要选中
            checkedAll: []
        },
        methods: {
            // 单选
            check: function (item, index) {
                // console.log(item)
                // console.log(index)
                if (typeof item.checked == 'undefined') {
                    this.$set(item, 'checked', true)
                    this.select = false
                } else {
                    item.checked = !item.checked
                }
                // 判断checkedNum数组中的每一项是否为false,或者为undefined
                //如果有，全选就不能选中
                this.checkedNum = []
                for (let i = 0; i < this.goods[index].shopGoods.length; i++) {
                    this.checkedNum.push(this.goods[index].shopGoods[i].checked)
                }
                // console.log(this.checkedNum)
                if (this.checkedNum.indexOf(false) > -1 || this.checkedNum.indexOf(undefined) > -1) {
                    this.goods[index].checked = false
                } else {
                    this.goods[index].checked = true
                }
                // 单选都选中的时候，全选也要选上
                this.checkedAllNum = []
                this.goods.map(function (newItem, index, arr) {
                    for (let i = 0; i < newItem.shopGoods.length; i++) {
                        this.checkedAllNum.push(newItem.shopGoods[i].checked)
                    }
                }.bind(this))
                if (this.checkedAllNum.indexOf(false) > -1 || this.checkedAllNum.indexOf(undefined) > -1) {
                    this.select = false
                } else {
                    this.select = true
                }
                this.sumPrice()
            },
            // 选中商店
            checkShop: function (item) {
                if (typeof item.checked == 'undefined') {
                    this.$set(item, 'checked', true)
                    item.shopGoods.map(function (item1, index, arr) {
                        item1.checked = item.checked
                    })
                } else {
                    item.checked = !item.checked
                    item.shopGoods.map(function (item2, index, arr) {
                        item2.checked = item.checked
                    })
                }
                this.checkedAll = []
                for (let i = 0; i < this.goods.length; i++) {
                    this.checkedAll.push(this.goods[i].checked)
                }
                if (this.checkedAll.indexOf(false) > -1 || this.checkedAll.indexOf(undefined) > -1) {
                    this.select = false
                } else {
                    this.select = true
                }
                this.sumPrice()
            },
            // 全选
            checkAll: function () {
                this.select = !this.select
                this.goods.map(function (item, index, arr) {
                    if (typeof item.checked == 'undefined') {
                        this.$set(item, 'checked', this.select)
                        item.shopGoods.map(function (item1, index, arr) {
                            this.$set(item1, 'checked', this.select)
                        }.bind(this))
                    } else {
                        item.checked = this.select
                        item.shopGoods.map(function (item1, index, arr) {
                            item1.checked = this.select
                        }.bind(this))
                    }
                }.bind(this))
                if (this.select == false) {
                    this.allPrice = 0
                }
                this.sumPrice()

            },
            // 删除商品
            deleteGoods: function (index, key) {
                // console.log(index)
                // console.log(key)
                this.goods[index].shopGoods.splice(key, 1)
                var dl = document.getElementsByClassName('list')[index]
                var dt = dl.getElementsByTagName('dt')[0]
                if (this.goods[index].shopGoods.length == 0) {
                    dl.removeChild(dt)
                }
                this.sumPrice()
                // 当商品删除完后，全选不选，总价为0
                var arrLength = []
                for (let i = 0; i < this.goods.length; i++) {
                    arrLength.push(this.goods[i].shopGoods.length)
                }
                console.log(arrLength)
                arrLength.reduce(function (value, item, index, arr) {
                    value += item
                    if (value == 0) {
                        this.select = false
                        this.allPrice = 0
                    }
                }.bind(this), 0)
            },
            // 加减商品
            changeCount: function (key, item) {
                if (key < 0) {
                    if (item.count < 2) {
                        item.count = 1
                    } else {
                        item.count--
                    }

                } else {
                    item.count++
                }
                this.sumPrice()
            },
            // 计算商品的总价
            sumPrice: function () {
                this.allPrice = 0
                var selectArr = []
                for (let i = 0; i < this.goods.length; i++) {
                    this.goods[i].shopGoods.map(function (item, index, arr) {
                        if (item.checked == true) {
                            selectArr.push(item)
                        }
                    })
                }
                selectArr.reduce(function (value, item, index, arr) {
                    value += item.count * item.price
                    this.allPrice = value
                    return this.allPrice
                }.bind(this), 0)
            },
            // 自己输入数量，从新计算总价
            writeNum: function () {
                this.sumPrice()
            }
        }
    })
</script>
</body>

</html>